<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dödskrök - Changelog - Powered by STABEN</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,700italic,300,700,400' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='bower_components/typicons/src/font/typicons.min.css' />
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="bower_components/flexboxgrid/src/css/flexboxgrid.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="js/angular.audio.js"></script>
  <script src="js/dkgame.js"></script>

</head>
<body ng-app="dk">
  <div id="navigation">
    <h2 class="staben">STABEN</h2>
    <p>presenterar</p>
    <h3>Dödskrök</h3>
    <nav ng-controller="MenuCtrl">
      <ul>
        <li>
          <a href="/">Spelet</a>
        </li>
      </ul>
    </nav>
    <p class="version">Version 3.1.0 - <a href="changelog">Changelog</a></p>
  </div>
  <div class="container">
    <div ng-controller="ChangelogCtrl" id="changelogs">
      <ul ng-repeat="changelog in changelogs">
        <h2>{{changelog.version}}</h2>
        <li ng-repeat="change in changelog.changes">
          {{change.description}}
        </li>
      </ul>
    </div>
  </div>

</body>
</html>
